@media only screen and (max-width:530px) {
    /* Kolory */
    /*
BLACK:          hsl(206, 9%, 15%);
WHITE:          hsl(180, 100%, 100%);
l_GREEN:        hsl(85, 59%, 48%);
d_GREEN:        hsl(87, 48%, 36%);
l_GRAY:         hsl(206, 3%, 43%);
d_GRAY:         hsl(218, 5%, 29%);
    */
    /* Czcionki */
    /*
w3-large	Specifies a font size of 18 pixels
w3-xlarge	Specifies a font size of 24 pixels
w3-xxlarge	Specifies a font size of 32 pixels
w3-xxxlarge	Specifies a font size of 48 pixels
w3-jumbo	Specifies a font size of 64 pixels
*/
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #wrapper {
        background-image: url(../images/type_@2X.png);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #box {
        background-color: black;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        border: 5px solid hsl(87, 48%, 36%);
        border-radius: 50px;
        box-shadow: 0px 15px 5px 1px black;
    }
    h1 {
        color: hsl(85, 59%, 48%);
        font-family: "Oswald", sans-serif;
        font-size: 24px;
        text-align: center;
        flex: 1 1 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }
    #quote {
        color: hsl(180, 100%, 100%);
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        flex: 1 1 100%;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        margin: 0px 20px;
        line-height: 110%;
        height: 200px;
    }
    #author {
        color: hsl(180, 100%, 100%);
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-weight: 500;
        height: 30px;
    }
    .apostrof {
        color: hsl(85, 59%, 48%);
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        font-style: italic;
    }
    #random {
        width: 50px;
        height: 40px;
        border-radius: 5px;
        background-color: hsl(87, 48%, 36%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #random:hover {
        cursor: pointer;
        background-color: hsl(85, 59%, 48%);
    }
    #button {
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        color: hsl(206, 9%, 15%);
        font-weight: 600;
    }
    .col50 {
        flex: 1 1 50%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .icon {
        width: 40px;
        height: 40px;
        background-image: url(../images/twitter_dark.png);
        background-size: contain;
    }
    .icon:hover {
        cursor: pointer;
        background-image: url(../images/twitter_light.png);
        background-size: contain;
    }
}
